---
interface Props {
  serviceId: "cosmetology" | "massage" | "nails" | "makeup";
  instance: "grid" | "slider";
  src: string;
  alt: string;
}

const { serviceId, instance, src, alt } = Astro.props;

const frames = {
  cosmetology: {
    width: 405,
    height: 457,
    inner: "M 0.62963 0.04376 C 0.57572 0.03465 0.51564 0.03866 0.46173 0.05252 C 0.40782 0.06637 0.35350 0.09227 0.30617 0.12691 C 0.25885 0.16156 0.21152 0.21043 0.17778 0.26039 C 0.14403 0.31036 0.11852 0.37090 0.10370 0.42670 C 0.08889 0.48249 0.08313 0.53866 0.08889 0.59519 C 0.09465 0.65171 0.11276 0.71663 0.13827 0.76586 C 0.16379 0.81510 0.19959 0.85813 0.24198 0.89059 C 0.28436 0.92305 0.34198 0.94858 0.39259 0.96061 C 0.44321 0.97265 0.49095 0.97447 0.54568 0.96280 C 0.60041 0.95113 0.66872 0.92560 0.72099 0.89059 C 0.77325 0.85558 0.82305 0.80525 0.85926 0.75274 C 0.89547 0.70022 0.92346 0.63713 0.93827 0.57549 C 0.95309 0.51386 0.95638 0.44238 0.94815 0.38293 C 0.93992 0.32349 0.91605 0.26477 0.88889 0.21882 C 0.86173 0.17287 0.82840 0.13640 0.78519 0.10722 C 0.74198 0.07805 0.68354 0.05288 0.62963 0.04376 Z",
    outer: "M 293 12 C 269.83 3 245.5 0.83 220 4 C 194.5 7.17 163.5 18.33 140 31 C 116.5 43.67 97.83 58.5 79 80 C 60.17 101.5 39.33 133.17 27 160 C 14.67 186.83 7.67 213.17 5 241 C 2.33 268.83 4.33 301.33 11 327 C 17.67 352.67 29.33 376.17 45 395 C 60.67 413.83 81.5 430.67 105 440 C 128.5 449.33 159 453.67 186 451 C 213 448.33 242.5 437.83 267 424 C 291.5 410.17 314.5 389.17 333 368 C 351.5 346.83 366.67 323 378 297 C 389.33 271 398.33 240.67 401 212 C 403.67 183.33 401 150.67 394 125 C 387 99.33 375.83 76.83 359 58 C 342.17 39.17 316.17 21 293 12 Z",
  },
  massage: {
    width: 406,
    height: 458,
    inner: "M 0.62562 0.04585 C 0.57184 0.03675 0.51190 0.04076 0.45813 0.05459 C 0.40435 0.06841 0.35016 0.09425 0.30296 0.12882 C 0.25575 0.16339 0.20854 0.21215 0.17488 0.26201 C 0.14122 0.31186 0.11576 0.37227 0.10099 0.42795 C 0.08621 0.48362 0.08005 0.53894 0.08621 0.59607 C 0.09236 0.65320 0.11207 0.72125 0.13793 0.77074 C 0.16379 0.82023 0.19951 0.86135 0.24138 0.89301 C 0.28325 0.92467 0.33908 0.94905 0.38916 0.96070 C 0.43924 0.97234 0.48727 0.97453 0.54187 0.96288 C 0.59647 0.95124 0.66461 0.92576 0.71675 0.89083 C 0.76888 0.85590 0.81856 0.80568 0.85468 0.75328 C 0.89080 0.70087 0.91872 0.63792 0.93350 0.57642 C 0.94828 0.51492 0.95156 0.44360 0.94335 0.38428 C 0.93514 0.32496 0.91133 0.26638 0.88424 0.22052 C 0.85714 0.17467 0.82389 0.13828 0.78079 0.10917 C 0.73768 0.08006 0.67939 0.05495 0.62562 0.04585 Z",
    outer: "M 300 16 C 276.67 6.83 245.83 2.33 219 5 C 192.17 7.67 162.5 19.33 139 32 C 115.5 44.67 96.33 60.67 78 81 C 59.67 101.33 41.17 128.5 29 154 C 16.83 179.5 8.5 206.33 5 234 C 1.5 261.67 2.5 294.33 8 320 C 13.5 345.67 23.5 368.5 38 388 C 52.5 407.5 72.67 426.17 95 437 C 117.33 447.83 145.17 454.17 172 453 C 198.83 451.83 230.67 442.5 256 430 C 281.33 417.5 303.67 400.33 324 378 C 344.33 355.67 365.33 323.5 378 296 C 390.67 268.5 397.33 240.67 400 213 C 402.67 185.33 400.83 155.5 394 130 C 387.17 104.5 374.67 79 359 60 C 343.33 41 323.33 25.17 300 16 Z",
  },
  nails: {
    width: 405,
    height: 452,
    inner: "M 0.62963 0.03982 C 0.57572 0.03060 0.51564 0.03466 0.46173 0.04867 C 0.40782 0.06268 0.35350 0.08886 0.30617 0.12389 C 0.25885 0.15892 0.21152 0.20833 0.17778 0.25885 C 0.14403 0.30937 0.11852 0.37058 0.10370 0.42699 C 0.08889 0.48341 0.08272 0.53945 0.08889 0.59735 C 0.09506 0.65524 0.11481 0.72419 0.14074 0.77434 C 0.16667 0.82448 0.20247 0.86615 0.24444 0.89823 C 0.28642 0.93031 0.34239 0.95501 0.39259 0.96681 C 0.44280 0.97861 0.49095 0.98083 0.54568 0.96903 C 0.60041 0.95723 0.66872 0.93142 0.72099 0.89602 C 0.77325 0.86062 0.82305 0.80973 0.85926 0.75664 C 0.89547 0.70354 0.92346 0.63975 0.93827 0.57743 C 0.95309 0.51512 0.95638 0.44285 0.94815 0.38274 C 0.93992 0.32264 0.91605 0.26327 0.88889 0.21681 C 0.86173 0.17035 0.82840 0.13348 0.78519 0.10398 C 0.74198 0.07448 0.68354 0.04904 0.62963 0.03982 Z",
    outer: "M 301 13 C 277.67 3.83 246.83 -0.67 220 2 C 193.17 4.67 163.5 16.33 140 29 C 116.5 41.67 97.33 57.67 79 78 C 60.67 98.33 42.17 125.5 30 151 C 17.83 176.5 9.5 203.33 6 231 C 2.5 258.67 3.5 291.33 9 317 C 14.5 342.67 24.5 365.5 39 385 C 53.5 404.5 73.67 423.17 96 434 C 118.33 444.83 146.17 451.17 173 450 C 199.83 448.83 231.67 439.5 257 427 C 282.33 414.5 304.67 397.33 325 375 C 345.33 352.67 366.33 320.5 379 293 C 391.67 265.5 398.33 237.67 401 210 C 403.67 182.33 401.83 152.5 395 127 C 388.17 101.5 375.67 76 360 57 C 344.33 38 324.33 22.17 301 13 Z",
  },
  makeup: {
    width: 405,
    height: 454,
    inner: "M 0.62963 0.04405 C 0.57572 0.03488 0.51564 0.03891 0.46173 0.05286 C 0.40782 0.06681 0.35350 0.09288 0.30617 0.12775 C 0.25885 0.16263 0.21152 0.21182 0.17778 0.26211 C 0.14403 0.31241 0.11852 0.37335 0.10370 0.42952 C 0.08889 0.48568 0.08272 0.54148 0.08889 0.59912 C 0.09506 0.65675 0.11481 0.72540 0.14074 0.77533 C 0.16667 0.82526 0.20247 0.86674 0.24444 0.89868 C 0.28642 0.93062 0.34239 0.95521 0.39259 0.96696 C 0.44280 0.97871 0.49095 0.98091 0.54568 0.96916 C 0.60041 0.95742 0.66872 0.93172 0.72099 0.89648 C 0.77325 0.86123 0.82305 0.81057 0.85926 0.75771 C 0.89547 0.70485 0.92346 0.64134 0.93827 0.57930 C 0.95309 0.51725 0.95638 0.44530 0.94815 0.38546 C 0.93992 0.32562 0.91605 0.26652 0.88889 0.22026 C 0.86173 0.17401 0.82840 0.13730 0.78519 0.10793 C 0.74198 0.07856 0.68354 0.05323 0.62963 0.04405 Z",
    outer: "M 301 15 C 277.67 5.83 246.83 1.33 220 4 C 193.17 6.67 163.5 18.33 140 31 C 116.5 43.67 97.33 59.67 79 80 C 60.67 100.33 42.17 127.5 30 153 C 17.83 178.5 9.5 205.33 6 233 C 2.5 260.67 3.5 293.33 9 319 C 14.5 344.67 24.5 367.5 39 387 C 53.5 406.5 73.67 425.17 96 436 C 118.33 446.83 146.17 453.17 173 452 C 199.83 450.83 231.67 441.5 257 429 C 282.33 416.5 304.67 399.33 325 377 C 345.33 354.67 366.33 322.5 379 295 C 391.67 267.5 398.33 239.67 401 212 C 403.67 184.33 401.83 154.5 395 129 C 388.17 103.5 375.67 78 360 59 C 344.33 40 324.33 24.17 301 15 Z",
  },
} as const;

const frame = frames[serviceId];
const maskId = `service-photo-mask-${serviceId}-${instance}`;
---

<div
  class={`service-image-frame service-image-frame-${serviceId}`}
  style={`--service-frame-width: ${frame.width}; --service-frame-height: ${frame.height}; --service-photo-mask: url(#${maskId});`}
>
  <svg class="service-image-defs" width="0" height="0" aria-hidden="true" focusable="false">
    <defs>
      <clipPath id={maskId} clipPathUnits="objectBoundingBox">
        <path d={frame.inner}></path>
      </clipPath>
    </defs>
  </svg>
  <img
    src={src}
    alt={alt}
    class="image"
    width={frame.width}
    height={frame.height}
    loading="lazy"
  />
  <svg
    class="service-image-outline"
    viewBox={`0 0 ${frame.width} ${frame.height}`}
    preserveAspectRatio="none"
    aria-hidden="true"
    focusable="false"
  >
    <path d={frame.outer}></path>
  </svg>
</div>
